blinker==1.9.0
bottle==0.13.4
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
libusb1==3.3.1
MarkupSafe==3.0.3
mysql-connector==2.2.9
ndeflib==0.3.3
nfcpy==1.0.4
pillow==12.1.0
proxy-tools==0.1.0
pyDes==2.0.1
pyserial==3.5
pywebview==6.1
qrcode==8.2
typing_extensions==4.15.0
websockets==16.0
Werkzeug==3.1.5
