html, body, * {
	cursor: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

dashboard-logo {
    max-width: 60vw;
    max-height: 60vh;
    opacity: 0.3;
    object-fit: contain;
}

