html, body, * {
	cursor: none !important;
    zoom: 1.2;
}

html, body {
    background-color: #111;
    color: orange;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.qrcode {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px; 
    height: 120px; 
    margin-top: 0.25rem;
}

#reloadbutton {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    z-index: 9999;
    padding: 0.4rem 0.8rem;
}

#result {
    border:1px solid #ccc; 
    padding:0.5rem; 
    min-height:4rem;
}

#product-image {
    max-width:200px; 
    display:none;
}

#container {
    text-align: center;
    margin-top: 100px;
}

#annahme {
    margin-top: 100px;
}